<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 4 + 5 + 1%>
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi sint ab, itaque facilis necessitatibus error
        incidunt sequi ullam repellendus quaerat dicta eaque quidem, enim nobis praesentium veniam mollitia hic? Amet!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae a maxime distinctio velit quas, ut
        laboriosam laudantium omnis quaerat est non nobis blanditiis, modi esse debitis. Id incidunt qui obcaecati.
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam suscipit est reiciendis illum odit cum
        voluptatibus ut error iure officia ex exercitationem, quas, et recusandae quis expedita incidunt quibusdam
        reprehenderit.</p>
</body>

</html>